<p>Welcome to Flixy</p>
<p>To confirm your email address, click or copy paste the link on your browser</p>
<p>
    <a href="{{ url }}">Confirm</a>
</p>
<p>If you did not request this email you can safely ignore it.</p>
