<h3>Welcome to Flixy</h3>
<p>To confirm your email address, click:
    <a href="{{ url }}"><strong>Confirm Email</strong></a>
</br>
    or copy paste the link below on your browser </br>
    {{ url }}
</p>
<p>If you did not request this email you can safely ignore it.</p>
